{% extends "base.html" %} 
{% block title %}Home{% endblock %} 



<!------   main content block start   ------>

{% block content%}

<!-- title -->
<h1 class=" position-f col-6 px-3 mb-4 ms-2 text-secondarybg-light" style="margin-top: 0rem; z-index:-1;margin-top:6rem;">My Passwords</h1>

<div class="container-sm justify-content-between ">
  <!--password cards-->
<div class="col-sm col-8">
{% for note in user.notes %}
  <div class="d-inline-flex justify-content-evenly p-2" style="width:200px;">
    <div class="card" style="background-color: #2b2d42">
      <div class="card-body">
        <h5 class="card-title mb-3" style="color: #dbdbdb;">{{note.data}}</h5>
        <p class="card-text mb-2 font-monospace" style="color: #8d99ae;">{{note.username}}</p>
        <p class="card-text p-2 rounded font-monospace" id="genpassword" style="color: #8d99ae; font-size: 15px;background: #36385c; ">{{note.key}}</p>
        <!-- <a href="" class="btn btn-primary">copy</a> -->
        <a href="" onclick="deleteNote( {{note.id}} )" class="btn btn-primary">Delete</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>


<!-- create password form -->

<div class="d-none d-md-block container col-5 p-3 d-flex align-items-center justify-content-center text-dark bg-light rounded" style="display:block;position:fixed;right: 1rem;top:9rem;">
  <form method="POST">
    <div class="mb-3">
    <h3 class="mb-2">Create a Password</h3><br>
    <label for="exampleInputEmail1" class="form-label">Website/App Name</label>
    <input name="note" id="note" class="form-control" aria-describedby="emailHelp" placeholder="Enter website title">
    </div>
    <div id="emailHelp" class="form-text"></div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" >username</label>
    <input name="siteusername" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter username">
  </div>
  <button type="submit" class="btn btn-primary">Add password</button>
</form>
</div>

<div class="d-block d-md-none">
  <button class="btn btn-md btn-dark position-fixed bottom-0 end-0 rounded-circle" style="margin: 5rem 2rem; position:fixed;" data-bs-toggle="modal" data-bs-target="#enroll">+</button>
  </div>

</div>


<!-- modal -->
<div class="modal fade" id="enroll" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <p class="lead">Fill out this form we will get back to you</p> -->

        <!-- <div class="mb-3">
        <form action="">
          <label for="first-name" class="col-form-label">Name: </label>
          <input type="text" class="form-control" id="firstname">
        </form>
      </div>

      <div class="mb-3">
          <label for="first-name" class="col-form-label">Email: </label>
          <input type="text" class="form-control" id="email">
        </form>
      </div>
      <div class="mb-3">
          <label for="first-name" class="col-form-label">Mobile: </label>
          <input type="text" class="form-control" id="mobile">
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div> -->
      <form method="POST">
        <div class="mb-3">
        <!-- <h3 class="mb-2">Create a Password</h3><br> -->
        <label for="exampleInputEmail1" class="form-label">Website/App Name</label>
        <input name="note" id="note" class="form-control" aria-describedby="emailHelp" placeholder="Enter website title">
        </div>
        <div id="emailHelp" class="form-text"></div>
    
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" >username</label>
        <input name="siteusername" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter username">
      </div>
      <button type="submit" class="btn btn-primary">Add password</button>
    </form>

    </div>
  </div>
</div>
</div>
<!-- modal end -->

{% endblock %}
